<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="69"
      android:versionName="1.2.0 b69" package="applab.search.client">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light">
        <activity android:name=".MainMenuActivity" 
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name="SearchActivity"/>
<activity android:name="applab.client.BrowserActivity"/>
<activity android:name=".DisplaySearchResultsActivity"/>
<activity android:name=".InboxListActivity" android:theme="@android:style/Theme.Light"/>
<activity android:name=".AboutActivity" android:label="@string/about_activity"/>
<activity android:name=".LocationActivity" android:label="@string/gps_activity"/>
<activity android:name=".Settings" android:label="@string/settings_activity" android:theme="@android:style/Theme.Light"/>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
</manifest> 