<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionName="@string/app_version" android:versionCode="2012051400" package="applab.client.search">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light" android:name="applab.client.ApplabApplication">
        <activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden" android:name="applab.search.client.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name="applab.search.client.SearchActivity" android:configChanges="orientation|keyboardHidden"/>
<activity android:name="applab.client.BrowserActivity" android:configChanges="orientation|keyboardHidden"/>
<activity android:configChanges="orientation|keyboardHidden" android:name="applab.search.client.DisplaySearchResultsActivity"/>
<activity android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden" android:name="applab.search.client.InboxListActivity"/>
<activity android:label="@string/gps_activity" android:configChanges="orientation|keyboardHidden" android:name="applab.search.client.LocationActivity"/>
<activity android:label="@string/settings_activity" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden" android:name="applab.search.client.Settings"/>
  
<!--  Hook for being notified when the OS boots -->  
<receiver android:name="applab.search.client.service.BootCompletedReceiver">
	<intent-filter>
		<action android:name="android.intent.action.BOOT_COMPLETED">
		</action>
		<category android:name="android.intent.category.HOME">
		</category>
	</intent-filter>
</receiver>

<!--  Tell android that we have a service to run -->
<service android:name="applab.search.client.service.ApplabSearchService">
	<intent-filter>
		<action android:name="applab.search.client.service.ApplabSearchService">
		</action>
	</intent-filter>
</service>
    
    </application>
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
	
  <!--  We start our service when the OS boots -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
  
</manifest>